[submodule "thirdparty/leveldb"]
	path = thirdparty/leveldb
	url = https://github.com/google/leveldb.git
[submodule "thirdparty/ananas"]
	path = thirdparty/ananas
	url = https://github.com/zayg/ananas.git
[submodule "thirdparty/protobuf"]
	path = thirdparty/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
[submodule "thirdparty/raft.tla"]
	path = thirdparty/raft.tla
	url = https://github.com/ongardie/raft.tla.git
[submodule "thirdparty/jsoncpp"]
	path = thirdparty/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
[submodule "thirdparty/spdlog"]
	path = thirdparty/spdlog
	url = https://github.com/gabime/spdlog.git
